.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto


# cache:
*_cache/


# data:
*.rda
*.rds
*/*.csv
_targets/
*.csv
data*/





# debugging:
test*.R


# output documents/reports:
report*/
final_report_*/
reports/

	


