.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto


# cache:
report_files/
report_cache/
*_cache/
*_files/



# data:
*.rda
*/*.csv
_targets/
obj/
*.csv




# debugging:
test*.R



